streamlit==1.26.0  # Adjust based on your version
numpy==1.26.0
scipy==1.11.3
imutils==0.5.4
dlib==19.24.0 # Ensure correct version for compatibility
opencv-python-headless==4.8.1.78
pyttsx3==2.90
pygame==2.5.0
wave==0.0.2