absl-py==2.1.0
alabaster==0.7.16
altair==4.2.2
annotated-types==0.7.0
anyio==4.6.2.post1
astatine==0.3.3
astor==0.8.1
astpretty==3.0.0
astroid==2.15.8
asttokens==2.4.1
attrs==24.2.0
autoflake==1.7.8
axios==0.4.0
babel==2.16.0
bandit==1.7.10
black==23.12.1
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cmake==3.31.0.1
cognitive-complexity==1.3.0
colorama==0.4.6
comtypes==1.4.8
contourpy==1.3.1
coverage==7.6.7
cycler==0.12.1
darglint==1.8.1
dill==0.3.9
distlib==0.3.9
distro==1.9.0
dlib @ file:///C:/Users/Anushree%20Jain/Drowsiness/dlib-19.24.1-cp311-cp311-win_amd64.whl#sha256=6f1a5ee167975d7952b28e0ce4495f1d9a77644761cf5720fb66d7c6188ae496
dlint==0.16.0
doc8==1.1.2
docformatter==1.7.5
docutils==0.19
domdf-python-tools==3.9.0
entrypoints==0.4
eradicate==2.3.0
fastapi==0.115.5
filelock==3.16.1
flake8==5.0.4
flake8-2020==1.8.1
flake8-aaa==0.17.0
flake8-annotations==3.1.1
flake8-annotations-complexity==0.0.8
flake8-annotations-coverage==0.0.6
flake8-bandit==4.1.1
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.6.0
flake8-bugbear==23.3.12
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-cognitive-complexity==0.1.0
flake8-comments==0.1.2
flake8-comprehensions==3.16.0
flake8-debugger==4.1.2
flake8-django==1.4
flake8-docstrings==1.7.0
flake8-encodings==0.5.1
flake8-eradicate==1.5.0
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fastapi==0.7.0
flake8-fixme==1.1.1
flake8-functions==0.0.8
flake8-functions-names==0.4.0
flake8-future-annotations==0.0.5
flake8-helper==0.2.2
flake8-isort==6.1.1
flake8-literal==1.4.0
flake8-logging-format==0.9.0
flake8-markdown==0.5.0
flake8-mutable==1.2.0
flake8-no-pep420==2.8.0
flake8-noqa==1.4.0
flake8-pie==0.16.0
flake8-plugin-utils==1.3.3
flake8-pyi==22.11.0
flake8-pylint==0.2.1
flake8-pytest-style==1.7.2
flake8-quotes==3.4.0
flake8-rst-docstrings==0.3.0
flake8-secure-coding-standard==1.4.1
flake8-string-format==0.3.0
flake8-tidy-imports==4.11.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.6
flake8-warnings==0.4.0
flake8_simplify==0.21.0
flake8_typing_imports==1.16.0
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.55.0
gitdb==4.0.11
GitPython==3.1.43
hypothesis==6.119.2
hypothesmith==0.1.9
idna==3.10
imagesize==1.4.1
importlib_metadata==8.5.0
imutils==0.5.4
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
jax==0.4.35
jaxlib==0.4.35
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab-flake8==0.7.1
kiwisolver==1.4.7
lark-parser==0.12.0
lazy-object-proxy==1.10.0
libcst==0.4.10
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
ml_dtypes==0.5.0
mr-proper==0.0.7
mypy-extensions==1.0.0
narwhals==1.13.5
natsort==8.4.0
numpy==1.24.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.7.0.72
opt_einsum==3.4.0
packaging==24.2
pandas==1.5.3
pandas-vet==0.2.3
pathlib==1.0.1
pathspec==0.12.1
pbr==6.1.0
pep8-naming==0.14.1
pillow==11.0.0
platformdirs==4.3.6
playsound==1.3.0
plotly==5.24.1
pluggy==1.5.0
protobuf==3.20.3
pyarrow==18.0.0
pybetter==0.4.1
pycln==2.4.0
pycodestyle==2.9.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
pydocstyle==6.3.0
pydu==0.7.2
pydub==0.25.1
pyemojify==0.2.0
pyflakes==2.5.0
pygame==2.6.1
Pygments==2.18.0
pylint==2.17.7
Pympler==1.1
pyparsing==3.2.0
pypiwin32==223
pyproject-api==1.8.0
pytest==7.4.4
pytest-cov==4.1.0
pytest-sugar==0.9.7
python-dateutil==2.9.0.post0
python-dev-tools==2023.3.24
pyttsx3==2.90
pytz==2024.2
pyupgrade==3.19.0
pywin32==308
PyYAML==6.0.2
referencing==0.35.1
removestar==1.5.1
requests==2.32.3
restructuredtext-lint==1.4.0
rich==13.9.4
rpds-py==0.21.0
scikit-build==0.18.1
scipy==1.11.4
semver==3.0.2
sentencepiece==0.2.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sounddevice==0.5.1
Sphinx==6.2.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
ssort==0.14.0
starlette==0.41.2
stdlib-list==0.11.0
stevedore==5.3.0
streamlit==1.20.0
tenacity==9.0.0
termcolor==2.5.0
tokenize_rt==6.1.0
toml==0.10.2
tomlkit==0.13.2
toolz==1.0.0
tornado==6.4.1
tox==4.23.2
tox-travis==0.12
typer==0.13.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
untokenize==0.1.1
urllib3==2.2.3
validators==0.34.0
virtualenv==20.27.1
watchdog==6.0.0
Werkzeug==3.1.3
wrapt==1.16.0
zipp==3.21.0
